:root {
    --form-text-color: #212529;
    --form-placeholder: #6c757d;
    --form-bg-color: #F5F7F9;
}

body {
    background-color: var(--form-bg-color);
    font-family: 'Montserrat', Arial, sans-serif;
    color: #FFFFFF;
}

header {
    min-height: 100vh;
    min-height: 100dvh;
    background-image: 
        linear-gradient(to bottom, rgba(255,255,255,0) 70%, #07012b65 100%),
        url('../images/main-bg-sm.png');
    background-size: auto;
}

.card-form {
    border-radius: 30px;
}

.about-section {
    min-height: 100vh;
    min-height: 100dvh;
}

.btn-call {
    background-color: #F6DE6C;
    color: #065C99;
    border-radius: 20px;
}

.btn-call:hover {
    background-color: #065C99;
    color: #F6DE6C;
    border: 1px solid #F6DE6C;
}

.btn-call:active {
    background-color: #d4bc4a;
    transform: scale(0.98);
    transition: transform 0.1s;
}

.input-icon {
    width: 16px;
    height: 20px;
    object-fit: contain;
    display: block;
}

.input-group {
    position: relative;
}

.input-group .input-group-text {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    z-index: 10;
    border: none;
    background: transparent;
    color: #065C99;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
}

.input-group .form-control,
.input-group .form-select {
    padding-left: 50px;
    border-radius: 0.375rem !important;
    z-index: 1;
}

.form-control, 
.form-select {
    color: var(--form-text-color) !important;
    background-color: var(--form-bg-color) !important;
    border: none;
}

.form-control::placeholder {
    color: var(--form-placeholder) !important;
}

.form-select:invalid {
    color: var(--form-placeholder) !important;
}

.form-select option {
    color: #000;
}

.input-group-text {
    background-color: var(--form-bg-color);
    border: none;
}

.form-control:focus-within, .form-select:focus-within {
    box-shadow: none;
}

.input-group:focus-within {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    border-radius: 0.375rem;
}

.invalid-tooltip {
    background-color: rgba(220, 53, 69, 0.8) !important; 
    
    /* desfoque no fundo */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* styles for .col-sm-* */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* styles for .col-md-* */
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* styles for .col-lg-* */
    header {
        background-image: 
            linear-gradient(to bottom, rgba(255,255,255,0) 70%, #07012bb6 100%),
            url('../images/main-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom-left-radius: 90px;
    }

    .hero-content {
        font-size: 1.5rem;
    }
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* styles for .col-xl-* */
    header {
        background-position: center;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    /* styles for .col-xxl-* */
}